@at-root{
    $component: ".footer__logo";

    #{$component}{
        color: get-color(white);

        @include bp("lg", "down"){
            flex-basis: 33%;
            margin-bottom: 20px;
        }
        @include bp("sm", "up"){
            flex-basis: 100%;
        }
        @include bp("lg", "up"){
            flex-basis: 33%;
        }
    }
}
