@at-root{
    $component: ".person__image";

    #{$component}{

        @include bp("sm", "up"){
        }
        @include bp("lg", "up"){}
        
        img{
            width: 100%;
            height: auto;
        }
    }

    .section--team{
        #{$component}{
            margin-bottom: 10px;
    
            @include bp("sm", "up"){
            }
            @include bp("lg", "up"){}
        }
    }

    .section--benefits{
        #{$component}{

            @include bp("sm", "down"){
                margin-bottom: 15px;
            }
            @include bp("sm", "up"){
                flex-basis: 50%;
            }
            @include bp("lg", "up"){
                flex-basis: 40%;
            }
        }
    }
}
