@at-root{
    $component: &;

    #{$component}{
        @include bp("sm", "up"){
        }
        @include bp("lg", "up"){
        }
    }

    .section--team{
        #{$component}{
            display: flex;
            flex-direction: column;
            align-items: center;

            @include bp("sm", "up"){
            }
            @include bp("lg", "up"){
            }
        }

        .swiper-button-prev,
        .swiper-button-next{
            color: get-color(blue);
        }
    }
}
