@at-root{
    $component: ".header__contacts";

    #{$component}{
        display: flex;
        margin-left: auto;

        @include bp("sm", "down"){
            flex-direction: column;
            align-items: flex-end;
            padding-top: 4px;
        }
        @include bp("sm", "up"){
            column-gap: 30px;
        }
        @include bp("lg", "up"){}
    }
}
