@at-root{
    $component: ".header__contact";

    #{$component}{
        font-size: 18px;
        line-height: 1em;
        color: get-color(blue);

        @include bp("sm", "up"){
        }
        @include bp("lg", "up"){
            transition: color 0.3s;
        }

        &:hover{
            color: get-color(blue-dark);
        }
    }
}
