@at-root{
    $component: ".header__contacts";

    #{$component}{
        display: flex;
        column-gap: 30px;

        @include bp("sm", "down"){
            // flex-direction: column;
            align-items: center;
            // padding-top: 4px;
        }
        @include bp("sm", "up"){
            margin-left: auto;
            column-gap: 30px;
        }
        @include bp("lg", "up"){}
    }
}
