section.section.-consultation#sectionConsultation 
    ._container.container 
        ._inner 
            h2._title 
                | Свяжитесь с нами, чтобы получить бесплатную констультацию

            ._contacts
                a._contact(href="tel:+7 (910) 000-01-23")
                    | +7 (910) 000-01-23

                .socials._socials
                    a.social._item(href="#" aria-label="whatsapp")
                        +icon("whatsapp")._icon
                        
                    a.social._item(href="#" aria-label="telegram")
                        +icon("telegram")._icon