footer.footer.page__footer
    ._container.container 
        ._inner
            figure.logo._logo
                +picture("logo", ["png", "webp"], 50, 50)._image

                figcaption._text 
                    | Агентство премиальных знакомств 
                    strong 
                        | Династия
                        
            nav.nav._nav 
                ul._list 
                    li._item 
                        a._link(href="#")
                            | Для мужчин
                            
                    li._item 
                        a._link(href="#")
                            | Кейсы
                            
                ul._list 
                    li._item 
                        a._link(href="#")
                            | Для девушек
                            
                    li._item 
                        a._link(href="#")
                            | Кастинг
                            
                    li._item 
                        a._link(href="#")
                            | Активный поиск
                            
                    li._item 
                        a._link(href="#")
                            | Кейсы
                            
                ul._list 
                    li._item 
                        a._link(href="#")
                            | Контакты
                            
                    li._item 
                        a._link(href="#")
                            | Политика конфиденциальности
