section.section.-team#sectionTeam 
    ._container.container 
        ._inner 
            h2._title 
                | Команда

            ._team
                each i in [1, 2, 3, 4]
                    .person
                        +picture("team_person", ["jpg", "webp"], 380, 380)._image

                        span._name 
                            | Имя Фамилия

                        span._position 
                            | Должность

