@at-root{
    $component: ".page__header";

    #{$component}{
        padding: 10px 0;
        background-color: get-color(white);

        @include bp("sm", "up"){
            padding: 15px 0;
        }
        @include bp("lg", "up"){}
    }
}
