@at-root{
    $component: &;

    #{$component}{
        display: flex;
        flex-direction: column;
        padding-top: 50px;

        @include bp("sm", "up"){
            padding-top: 80px;
        }
        @include bp("lg", "up"){
        }
    }
}
