section.section.-benefits#sectionBenefits 
    ._container.container 
        ._inner 
            h2._title 
                | Чем мужчину привлекает женщина такого же высокого статуса?

            ._text 
                ol 
                    li 
                        | Она интересная собеседница
                    li 
                        | ней спокойно и стабильно
                    li 
                        | Страховка от содержанок

            .person._person 
                +picture("men_person", ["jpg", "webp"], 380, 380)._image

                cite._text
                    | Я был в браке 30 лет и недавно развелся. Дети уже взрослые, 
                    | живут отдельно. Я не готов к рождению детей от новой женщины.
                    