section.section.-price#sectionPrice 
    ._container.container 
        ._inner 
            h2._title 
                | Стоимость услуг

            p._subtitle 
                | по подбору от 
                strong
                    | 100 000 
                | руб.

            ._text 
                p
                    | Стоимость зависит сложности подбора, списка требований, 
                    | сроков и заданного количества кандидатов. 
