section.section.-warranty#sectionWarranty
    ._container.container 
        ._inner 
            h2._title 
                | Гарантии

            ._text 
                p
                    | Гарантируем:

                ul
                    li 
                        | нет подставных женихов;
                    li 
                        | оградим от альфонсов;
                    li 
                        | нет дополнительных услуг;
                    li 
                        | нет астрологов, тарологов, нумерологов;
                    li 
                        | не виноватим вас, не рассказываем почему все так плохо, работаем 
                        | как кадровое агентство по подбору руководителей высшего звена

            ._text 
                p
                    | Не гарантируем:

                ul
                    li
                        | развитие отношений или создание семьи с выбранным кандидатом. 
                        | Мы занимаемся только поиском и выборкой лучших из списка.

            .faq._faq
                each item in settings.page.warranty
                    ._item 
                        h3._title
                            != item.title

                        ._text
                            != item.text