section.section.-cases#sectionCases 
    ._container.container 
        ._inner 
            h2._title 
                | Наши кейсы

            .cases._cases
                each i in [1, 2, 3]
                    .case._item 
                        +picture("case_person", ["jpg", "webp"], 480, 480)._image

                        p._text 
                            | Нашли будущую жену в Москве по фильтрам через HH.RU

                            a.button(href="#")
                                | Подробнее

                a.button._control(href="#")
                    | Смотреть все кейсы