section.section.-hero#sectionHero
    ._container.container
        ._inner
            h1._title 
                | Найдем девушку для вашего счастья в личной жизни

            ._text 
                p
                    | Задаете требуемые критерии, например она любит детей и хочет 
                    | стать многодетной мамой для продолжения вашей династии