section.section.-hero#sectionHero
    ._container.container
        ._inner
            h1._title 
                | Помогаем создавать искренние отношения на всю жизнь

            ._text 
                p
                    | Через массовый поиск находим лучших именно для Вас. Не нужно 
                    | конкурировать за внимание с тысячами других, как на сайтах знакомств. 
                    | Возможна полная анонимность – типажные фото вместо Ваших.

            ._controls
                a.button._control(href="men.html")
                    | Вход для мужчин 

                a.button._control(href="women.html")
                    | Вход для девушек 