section.section.-price#sectionPrice 
    ._container.container 
        ._inner 
            h2._title 
                | Стоимость услуг

            p._subtitle 
                | по подбору от 
                strong
                    | 50 000 
                | руб.

            ._text 
                p
                    | Факторы, определяющие стоимость:

                ul
                    li 
                        | разница в возрасте;
                    li 
                        | социальный статус аудитории для поиска;
                    li 
                        | требования к внешности девушки;
                    li 
                        | уровень образования девушки, знание языков;
                    li 
                        | география поиска;
                    li 
                        | финальное количество кандидаток;
                    li 
                        | сроки подбора;
                    li 
                        | глубина проверки кандидаток;
                    li 
                        | выбираемые инструменты поиска.

            ._text 
                p
                    | Стоимость выше, если:

                ul
                    li
                        | нужна девушка с высоким личным доходом;
                    li
                        | она должна быть медийной, известной;
                    li
                        | задаются трудно проверяемые критерии, например «верующая», «верная»;
                    li 
                        | необходим переезд в маленький город;
                    li
                        | необходимо психологическое тестирование в объеме выбранном Вами.
