section.section.-services#sectionServices 
    ._container.container 
        ._inner 
            h2._title 
                | Список услуг

            ._text
                ol 
                    li 
                        | Создание Вашей персональной, но обезличенной страницы с анкетой;
                    li 
                        | Реклама страницы в Яндексе по заданному региону, возрасту, уровню дохода женской аудитории;
                    li 
                        | Реклама в группах в Телеграме и VK;
                    li 
                        | Поиск кандидаток по заданным параметрам на hh.ru;
                    li 
                        | Проверка девушек на меркантильность, правдивость (заниженный возраст, фотографии без 
                        | ретуши, фильтров, фейсапа), наличие прежних браков, детей, сомнительного прошлого (работы в 
                        | эскорте, вебкаме), кредиты, долги, проблемы с законом и т.д.;
                    li 
                        | Психологическое тестирование девушек составлением портрета личности с указанием 
                        | слабых мест, уязвимостей, которые могут негативно проявиться в виде аморального 
                        | поведения, измен, пристрастия к алкоголю и всего прочего, что мешает сохранять 
                        | искренние, близкие отношения на протяжении всей жизни.