@at-root{
    $component: ".logo__image";

    #{$component}{
        display: flex;
        align-items: center;
        flex-shrink: 0;
        position: absolute;
        top: 50%;
        left: 0;
        width: 30px;
        height: 30px;
        transform: translateY(-50%);
        
        @include bp("sm", "up"){
        }
        @include bp("lg", "up"){}

        img{
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .page__footer{
        #{$component}{
        }
    }
}
