@at-root{
    $component: ".logo__text";

    #{$component}{
        // width: 155px;
        font-size: 20px;
        line-height: 1em;

        @include bp("sm", "down"){
            // text-align: center;
        }

        @include bp("sm", "up"){
            width: 300px;
            line-height: 110%;
        }
        @include bp("lg", "up"){
        }
    }

    .header__logo{
        #{$component}{
            strong{
                color: get-color(blue);
            }
        }
    }
}
