@at-root{
    $component: &;

    #{$component}{
        display: flex;
        align-items: center;
        position: relative;
        column-gap: 5px;
        margin: 0;
        padding-left: 42px;

        @include bp("sm", "up"){
            column-gap: 10px;
        } 
        @include bp("lg", "up"){} 
    }
}
