@at-root{
    $component: ".step__title";

    #{$component}{
        margin-bottom: 15px;
        text-transform: uppercase;
        color: get-color(blue);

        @include bp("sm", "up"){
        }
        @include bp("lg", "up"){
        }
    }
}
