@at-root{
    $component: ".popup__control";

    #{$component}{
        position: absolute;
        top: 20px;
        right: 20px;
        border: 0;
        background-color: transparent;
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 0.3s;

        &:hover{
            opacity: 1;
        }
        
        @include bp("sm", "up"){}
        @include bp("lg", "up"){
            top: 30px;
            right: 30px;
        }
    }
}
