@at-root{
    $component: ".contacts__socials";

    #{$component}{
        @include bp("sm", "up"){}
        @include bp("lg", "up"){}        
    }

    .page__header{
        #{$component}{
            order: 2;
            padding: 8px 0 20px;

            @include bp("sm", "up"){
                position: absolute;
                top: 210px;
                right: 60px;
                padding: 0;
            }
            @include bp("lg", "up"){
                display: none;
            }        
        }
    }

    .section--contacts{
        #{$component}{
            margin-bottom: 30px;
        
            @include bp("sm", "up"){}
            @include bp("lg", "up"){
                margin-bottom: 50px;
            }  
        }
    }

    .page__footer{
        #{$component}{
            @include bp("sm", "down"){
                justify-content: center;
            }
            @include bp("sm", "up"){
                margin-bottom: 30px;
            }
            @include bp("lg", "up"){
                margin-bottom: 0;
            }  
        }
    }
}
