@at-root{
    $component: ".section__controls";

    #{$component}{
        @include bp("sm", "up"){
        }
        @include bp("lg", "up"){
        }
    }

    .section--hero{
        #{$component}{
            display: flex;
            gap: 20px;
            margin-top: 30px;

            @include bp("lg", "down"){
            }

            @include bp("sm", "down"){
                flex-direction: column;
                align-items: center;
                max-width: 360px;
                margin-right: auto;
                margin-left: auto;
            }
            @include bp("sm", "up"){
                max-width: 500px;
                margin-top: 60px;
            }
            @include bp("lg", "up"){
                max-width: 630px;
                justify-content: center;
            }
        }
    }
}