@at-root{
    $component: ".section__control";

    #{$component}{
        @include bp("sm", "up"){
        }
        @include bp("lg", "up"){
        }
    }

    .section--hero{
        #{$component}{
            width: auto;

            @include bp("sm", "up"){
            }
            @include bp("lg", "up"){
            }
        }
    }
    .page--ladies{
        .section--questionnaire,
        .section--women{
            #{$component}{
                display: flex;
                max-width: 300px;
                margin: 0 auto;

                @include bp("sm", "up"){
                }
                @include bp("lg", "up"){
                }
            }
        }
    }
}