@at-root{
    $component: ".section__inner";

    #{$component}{
        @include bp("sm", "up"){
        }
        @include bp("lg", "up"){
        }
    }
    .section--advantages{
        #{$component}{
            display: flex;
            flex-direction: column;
            
            @include bp("sm", "up"){
            }
            @include bp("lg", "up"){
                flex-wrap: wrap;
                align-items: center;
                column-gap: 30px;
            }
        }
    }

    .section--price{
        #{$component}{
            @include bp("sm", "up"){
            }
            @include bp("lg", "up"){
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                column-gap: 5%;
            }
        }
    }
    .section--warranty{
        #{$component}{
            @include bp("sm", "up"){
            }
            @include bp("lg", "up"){
                display: flex;
                flex-wrap: wrap;
                column-gap: 10%;
            }
        }
    }
    .section--benefits{
        #{$component}{
            @include bp("sm", "up"){
            }
            @include bp("lg", "up"){
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

    .page--men{
        .section--advantages{
            #{$component}{
                @include bp("lg", "up"){
                    height: 250px;
                }
            }
        }
    }

    .page--ladies{
        .section--advantages{
            #{$component}{
                @include bp("lg", "up"){
                    justify-content: space-between;
                    height: 400px;
                }
            }
        }
    }
}