@at-root{
    $component: ".section__persons";

    #{$component}{
        @include bp("sm", "up"){
        }
        @include bp("lg", "up"){
        }
    }

    .page--ladies{
        #{$component}{
            margin-bottom: 50px;

            @include bp("sm", "up"){
            }
            @include bp("lg", "up"){
                display: flex;
                column-gap: 30px;
                margin-bottom: 80px;
            }
        }
    }
}