@at-root{
    $component: ".section__team";

    #{$component}{
        @include bp("lg", "down"){
            max-width: 500px;
            margin: 0 auto;
        }
        @include bp("sm", "up"){
        }
        @include bp("lg", "up"){
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    }
}