@at-root{
    $component: &;

    #{$component}{
        padding: 50px 0;

        @include bp("sm", "up"){
            padding: 80px 0;
        }
        @include bp("lg", "up"){
            padding: 100px 0;
        }

        &:nth-child(3n-2){
            background-color: get-color(blue-light);
        }

        &:nth-child(3n-1){
            background-color: get-color(grey);
        }

        &--hero{
            display: flex;
            align-items: center;
            background-image: url(../img/hero_bg.webp);
            background-position: right 20% bottom;
            background-repeat: no-repeat;
            background-blend-mode: darken;
            background-size: 300px auto;

            @include bp("sm", "down"){
                padding-top: 20px;
                padding-bottom: 480px;
            }

            @include bp("sm", "up"){
                min-height: calc(100vh - 80px);
                max-height: 1080px;
                background-position: right 5% bottom;
                background-size: contain;
            }
            @include bp("lg", "up"){
                background-position: right 20% bottom;
            }
        }
    }

    .no-webp{
        #{$component}{
            &--hero{
                background-image: url(../img/hero_bg.jpg);
            }
        }
    }
}
