@at-root{
    $component: &;

    #{$component}{
        padding: 50px 0;

        @include bp("sm", "up"){
            padding: 70px 0;
        }
        @include bp("lg", "up"){
        }

        &:nth-child(3n-2){
            background-color: get-color(blue-light);
        }

        &:nth-child(3n-1){
            background-color: get-color(grey);
        }
        &--hero{
            display: flex;
            align-items: center;
            background-repeat: no-repeat;

            @include bp("sm", "down"){
                padding-top: 20px;
                padding-bottom: 480px;
            }

            @include bp("sm", "up"){
            }
            @include bp("lg", "up"){
                min-height: 720px;
            }
        }
    }

    .page--main{
        #{$component}{
            &--hero{
                background-image: url(../img/hero_bg_main.webp);
                background-position: center bottom;
    
                @include bp("sm", "down"){
                    padding-bottom: 480px;
                    background-size: 300px auto;
                }
    
                @include bp("sm", "up"){
                    background-position: right bottom;
                    background-size: auto 590px;
                }
                @include bp("lg", "up"){
                    background-position: right 10vw bottom;
                    background-size: contain;
                }
            }
        }
    }

    .page--men{
        #{$component}{
            &--hero{
                background-image: url(../img/hero_bg_men.webp);
                background-position: center bottom;
    
                @include bp("sm", "down"){
                    padding-bottom: 480px;
                    background-size: 300px auto;
                }
    
                @include bp("sm", "up"){
                    background-position: right bottom;
                    background-size: contain;
                }
                @include bp("lg", "up"){
                    background-position: right 20% bottom;
                }
            }
        }
    }

    .page--ladies,
    .page--women{
        #{$component}{
            &--hero{
                background-image: url(../img/hero_bg_ladies.webp);
                background-position: center bottom;
    
                @include bp("sm", "down"){
                    padding-bottom: 480px;
                    background-size: 300px auto;
                }
    
                @include bp("sm", "up"){
                    background-position: right 20% bottom;
                    background-size: contain;
                }
                @include bp("lg", "up"){
                }
            }
        }
    }

    .no-webp{
        #{$component}{
            .page--main{
                &--hero{
                    background-image: url(../img/hero_bg_main.png);
                }
            }
            .page--men{
                &--hero{
                    background-image: url(../img/hero_bg_men.png);
                }
            }
            .page--lediaes,
            .page--women{
                &--hero{
                    background-image: url(../img/hero_bg_ledies.png);
                }
            }
        }
    }
}
