.section.section.-advantages#sectionAdvantages 
    ._container.container 
        ._inner 
            h2._title.-bg-clock
                | Экономим ваше время

            ._text 
                p 
                    | Вы общаетесь только с лучшими.
                    
            h2._title.-bg-anon
                | Гарантируем анонимность

            ._text 
                p 
                    | Вместо вашего фото публикуется типажное (внешность схожая с вашей).
                    
            h2._title.-bg-search
                | Проверяем всех

            ._text 
                p 
                    | Наличие детей, браков, негативной информации. Долги, судебные тяжбы.