section.section.-warranty#sectionWarranty
    ._container.container 
        ._inner 
            h2._title 
                | Гарантии

            ._text 
                p
                    | Гарантируем:

                ul
                    li 
                        | анонимность и конфиденциальность;
                    li 
                        | выявляем и блокируем женщин с прошлым из интим бизнеса;
                    li 
                        | показываем только реальные и актуальны фото всех претенденток – проводим собеседование по видео;
                    li 
                        | подписываем договор с указанием параметров поиска и NDA.

            ._text 
                p
                    | Не гарантируем:

                ul
                    li
                        | развитие отношений или создание семьи. Мы занимаемся только поиском и подбором кандидаток;
                    li
                        | секс с выбранной девушкой, её сексуальные предпочтения. Мы не обсуждаем эту сферу с кандидатками из этических соображений.

            .faq._faq
                each item in settings.page.warranty
                    ._item 
                        h3._title
                            != item.title

                        ._text
                            != item.text
