.section.-advantages#sectionAdvantages 
    ._container.container 
        ._inner
            h2._title 
                | Лучшие мужчины

            ._text 
                p 
                    | Наши клиенты это люди среднего и высшего класса. Талантливые 
                    | бизнесмены, руководители, политики, инженеры, звезды спорта и кино.
                    
            h2._title 
                | Без долгих переписок

            ._text 
                p 
                    | Наши мужчины заняты делом, поэтому ценят время.
                    
            h2._title 
                | 100 000 средний чек

            ._text 
                p 
                    | Столько в среднем платит мужчина, что подтверждает его высокий статус.
                    
            h2._title 
                | Без фейков

            ._text 
                p 
                    | Общаемся с каждым клиентом для выяснения его цели. 
                    
            h2._title 
                | Постоянные отношения

            ._text 
                p 
                    | Цель наших клиентов.
                    
            h2._title 
                | Анонимно

            ._text 
                p 
                    | Ваши данные доступны только менеджеру.