section.section.-price#sectionPrice 
    ._container.container 
        ._inner 
            h2._title 
                | Стоимость размещения в базе

            p._text 
                | 5000 РУБ. 
                br
                | НА БЛАГОТВОРИТЕЛЬНЫЙ ФОНД 
                br
                | После прохождения собеседования платите напрямую на выбор или в фонд 
                a(href="https://aleshafond.ru/" target="_blank" rel="nofollow") 
                    | «Алеша» 
                | или в 
                a(href="https://podari-zhizn.ru/ru" target="_blank" rel="nofollow") 
                    | «Подари жизнь» 
                | и присылаете нам квитанцию


            p._text 
                | 0 РУБ, 
                br 
                | если хотите МНОГОДЕТНУЮ семью
