section.section.-questionnaire#sectionQuestionnaire
    ._container.container 
        ._inner 
            h2._title 
                | Подайте анкету

            ._text 
                p 
                    | Мы размещаем на условиях кастинга анкеты девушек 18-35 лет 
                    | привлекательной внешности и с хорошей фигурой 

            a.button._control(href="questionnaire")
                | Подать анкету