section.section.-women#sectionWomen 
    ._container.container 
        ._inner 
            h2._title 
                | Возможности по активному поиску 
                | для деловых женщин до 55 лет

            a.button._control(href="#")
                | Условия 